# Odoo service
ODOO_HOST=odoo.localhost
ODOO_VERSION=17.0

# Traefik settings
TRAEFIK_SERVICE=odoo
TRAEFIK_ENTRYPOINTS=web,websecure
TRAEFIK_CERTRESOLVER_LABEL=traefik.http.routers.${TRAEFIK_SERVICE}.tls.certresolver=tlssolver

# Database credentials
HOST=postgresql
PORT=5432
USER=odoo
PASSWORD=password

# Backup settings
VOLUME_NAME=odoo-for-docker_odoo-data
BACKUPS_FOLDER=/backups
